html,
body {
  height: 100%;
  margin: 0
}

.page {
    display: flex;
    flex-flow: column;          /* ? */
    height: 100%;
}

#main-menu {
    flex: 0 1 auto;
}

#main-container {
    width: 60%;
}

#tab-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-buttons {
    display: flex;
    border: none;
}

.question {
    display: flex;
    flex-flow: column;
}

#title-input, #description-input {
    border: none;
    border-width:0px;
}
